/* Grundlegende Farben und Schriftgrößen als wiederverwendbare Klassen */
.base-background {
    background-color: #333;  /* Dunkelgrauer Hintergrund für Container und Sidebar */
}

.text-white {
    color: #ffffff;  /* Weiße Schriftfarbe für übergreifende Textelemente */
}

.main-container {
    float: left;
}

/* Hauptcontainer mit spezifischen Maßen und Layout-Einstellungen */
.container {
    border-top: 5px solid transparent;
    font-size: 16px;
    background-color: #333;
    margin-right: 10px;
}

/* Styling für Informationen und Button-Reihen innerhalb des Containers */
.info-panel, .button-row {
    display: flex;
    width: 310px;  /* Etwas schmaler als der Hauptcontainer für visuelle Trennung */
    padding-left: 15px;
}

.info-panel {
    font-size: 21px;
    font-style: italic;
    font-weight: 500;
}

.button-row {
    gap: 10px;  /* Abstand zwischen den Buttons */
    margin-top: 10px;  /* Abstand von oberen Elementen */
    padding-bottom: 10px;  /* Abstand zum unteren Rand */
}

/* Informationen in einer Gruppe mit Abständen und Farbe */
.info-group {
    margin-right: 20px;
    color: #ffffff;
}

/* Einheitliche Button-Stile */
button {
    background-color: #007bff;  /* Blaue Farbe für Buttons */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;  /* Dunklerer Blauton bei Hover */
}

/* Sidebar-Styling mit spezifischen Maßen und Layout-Einstellungen */
.sidebar {
    width: 350px;
    height: 740px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.sidebar h2 {
    color: #f10d0d;
    padding-bottom: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.sidebar-content {
    overflow-y: auto;
    height: calc(100% - 40px);
    background-color: #0f0e0e;
}

/* Sidebar-Listenstil ohne Bullet Points */
#sidebar-list {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

#sidebar-list li {
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #333;
}

/* Fügt rechtes Padding für das erste span-Element innerhalb des dritten span-Elements in einem div in li hinzu */
#sidebar-list li > div > span:nth-child(3) > span:nth-child(1) {
    padding-right: 10px;
}

/* Stil für die Senderinformationen innerhalb der Sidebar */
.channel-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Abstand zwischen den Elementen */
    background-color: #444; /* Hintergrundfarbe für die Senderinformationen */
    cursor: pointer;
}

.logo-container {
    width: 35px; /* Breite des Logo-Containers */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-container img {
    width: 100%; /* Logo-Bild wird auf die Breite des Containers angepasst */
    object-fit: cover; /* Das Bild wird proportional in den Container eingepasst */
}

/* Stil für den Sendername */
.sender-name {
    font-size: 18px; /* Größe des Sendernamens */
    color: #ffffff; /* Farbe des Sendernamens */
    width: 70px;
}

/* Stil für den Sendungstitel */
.epg-channel {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 12px;
    color: #ffffff;
    flex: 1; /* Alle inneren Elemente gleichmäßig verteilen */
}

.epg-channel span {
    padding-bottom: 5px;
}

/* Zeitachse für das laufende Programm */
.epg-timeline {
    display: flex;
    height: 5px; /* Erhöhe die Höhe für eine bessere Sichtbarkeit */
    width: 180px;
    background-color: #666; /* Hintergrundfarbe der Zeitachse für den Fall, dass keine Farben angezeigt werden */
    border-radius: 2px; /* Abrundung der Ecken */
}

#sidebar-list li > div > span:nth-child(3) {
    padding-left: 10px;
}

/* Stil für den Abschnitt, der bereits gesendet wurde */
.epg-past {
    flex-grow: 1; /* Der Abschnitt wird so groß wie möglich gemacht */
    background-color: #ff0000; /* Farbe für bereits vergangene Zeit */
}

/* Stil für den Abschnitt, der noch gesendet wird */
.epg-future {
    flex-grow: 1; /* Der Abschnitt wird so groß wie möglich gemacht */
    background-color: #00ff00; /* Farbe für noch verbleibende Zeit */
}

/* Container für den Video-Player und Steuerungsleiste */
.player-container {
    width: 900px;
    display: flex;
    flex-direction: column; /* Ändert das Layout zu einer Spalte */
}

.player-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.player-header input {
    flex: 1;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.player-header button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.player-header button:hover {
    background-color: #0056b3;
}

.play-button {
    margin-bottom: 10px;
    margin-left: 10px;
}

.video-player {
    width: 900px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1000;
    display: flex;
    height: 700px;
}

.online {
    color: lightgreen;
    font-weight: bold;
}

#current-channel-name {
    font-size: 26px;
}


/* Wrapper für den Player und zusätzlichen Inhalt, um sie nebeneinander zu platzieren */
.content-wrapper {
    display: flex;
    gap: 20px; /* Abstand zwischen dem Player und dem zusätzlichen Inhalt */
    margin-top: 20px;
}

/* Zusätzlicher Inhalt rechts neben dem Player */
#additionalContent {
    width: 400px; /* Breite des zusätzlichen Inhalts */
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#additionalContent iframe {
    width: 100%; /* Iframe passt sich der Breite des Containers an */
    height: 500px; /* Feste Höhe für das Iframe */
}


#stream-url {
    width: 750px;
}
